__pycache__/
Pagos/
AI/
.env
PagosReducido/
HFtoken.txt
unsloth_compiled_cache/
backend/config.py
backend/PagosImages/
Pagos.xlsx
Andalucia/
Baleares/
*.log
*.json
*.tar.gz
pruebas.ipynb
Murcia/
llama.cpp/
pagosICEX_v1.pem
Images/
Processed/
Output/
UAB/
BalearesFacturas/
MurciaFacturas/
Documentacion/
textract-user_accessKeys.csv
Sergio_autoaudit_accessKeys.csv
pdf2png.pem
aws/
awscliv2.zip
node_modules/
.next/
next-env.d.ts
migrations_backup/
EmployeeMatcher.pem