__pycache__/
.env
*.log
*.json
*.tar.gz
pruebas.ipynb
pagosICEX_v1.pem
Images/
Processed/
UAB/
textract-user_accessKeys.csv
Sergio_autoaudit_accessKeys.csv
pdf2png.pem
EmployeeMatcher.pem
database/